body {
  font-family: 'Segoe UI', sans-serif;
  background-image: url("/static/images/bg.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;
}

#chat {
  width: 90%;
  max-width: 900px;
  height: 100%;
  background-color: #ffffff48;
  backdrop-filter: blur(20px);
  margin: 20px;
  padding: 10px;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.message {
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  max-width: 80%;
  word-wrap: break-word;
}

.user {
  background-color: #dcf8c6;
  align-self: flex-end;
  margin-left: auto;
}

.bot {
  background-color: #e6e6e6;
  align-self: flex-start;
  margin-right: auto;
}

.input-area {
  width: 90%;
  max-width: 900px;
  display: flex;
  margin-top: auto;
  padding: 10px;
  gap: 10px;
  position: fixed;
  bottom: 20px;
}

#message {
  flex: 1;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 8px;
  font-size: 22px;
}

#spaceDiv{
  height: 50px;
}

button {
  padding: 10px 20px;
  background-color: #0388A6;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #03588C;
}
